# Web framework
fastapi==0.109.2
uvicorn[standard]==0.23.2

# Auth & security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Database & migrations
SQLAlchemy==2.0.23
alembic==1.12.1
psycopg2-binary==2.9.9

# Env management
python-dotenv==1.0.0

# Testing
pytest==8.0.0
httpx==0.27.0

# Utilities
python-multipart==0.0.9

# Validation extras
email-validator==2.1.0.post1

# Notifications
boto3==1.34.80
requests==2.32.3
